

@import './styles/animate.min.css'
// .contactBlock1.topBannerBlock
//     background: rgb(54,67,89);
//     background: -moz-linear-gradient(45deg, rgba(54,67,89,0.5) 0%, rgba(54,67,89,1) 100%), url("/contact/bg_contact2.jpg") center;
//     background: -webkit-linear-gradient(45deg, rgba(54,67,89,0.5) 0%, rgba(54,67,89,1) 100%), url("/contact/bg_contact2.jpg") center;
//     background: linear-gradient(45deg, rgba(54,67,89,0.5) 0%, rgba(54,67,89,1) 100%), url("/contact/bg_contact2.jpg") center;
//     background-size: cover;
.topBanner
    background: rgb(54,67,89);
    background: -moz-linear-gradient(45deg, rgba(54,67,89,0.5) 0%, rgba(54,67,89,1) 100%), url(/contact/bg_contact2.jpg) center;
    background: -webkit-linear-gradient(45deg, rgba(54,67,89,0.5) 0%, rgba(54,67,89,1) 100%), url(/contact/bg_contact2.jpg) center;
    background: linear-gradient(45deg, rgba(54,67,89,0.5) 0%, rgba(54,67,89,1) 100%), url(/contact/bg_contact2.jpg) center;
    background-size: cover;
    color: #ffffff;
    height: 259px;
    position: relative;
    padding-top: 0;
    padding-bottom: 30px;
    margin: 0 auto;
    overflow: hidden;
    h3
        border: none
        margin-top: 160px;
        margin-bottom: 30px;
        color: #eee
.contentWrap
    h3.title
        font-size: 26px;
        font-size: 1.625rem;
        color: #1c1c1c;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 12px;
    width: 1140px;
    margin: 0 auto;
    position: relative;
    background-color: #e9f0f3;
    .gWrap
        // letter-spacing: -0.31em;
        text-rendering: optimizespeed;
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        display: -ms-flexbox;
        -ms-flex-flow: row wrap;
        -ms-align-content: flex-start;
        -webkit-align-content: flex-start;
        align-content: flex-start;
        .gWrap1-3
            width: 33.3333%;
            .miniBlock.bg.white
                margin-left: auto;
                margin-right: auto;
                padding: 10px 30px;
                background-color: #ffffff;
                position: relative;
                .descr
                    margin-bottom: 10px;
                h3,.descr
                    text-align: left;
                    ul
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li
                            background-repeat: no-repeat;
                            background-position: left 1px;
                            padding-left: 30px;
                            margin: 16px 0;
                            line-height: 26px;
                            line-height: 1.625rem;
                        .addressIcon
                            background-image: url(/contact/contact_icon1.png);
                        .telIcon
                            background-image: url(/contact/contact_icon2.png);
                        .faxIcon
                            background-image: url(/contact/contact_icon3.png);
                        .mailIcon
                            background-image: url(/contact/contact_icon4.png);
        .gWrap1-3, .gWrap2-3
            padding: 10px;
        .gWrap2-3
            width: 66.6667%;
            .miniBlock.bg.white
                margin-left: auto;
                margin-right: auto;
                padding: 10px 30px;
                background-color: #ffffff;
                position: relative;
            .contact_msg_form
                padding-top: 28px;
                padding-bottom: 28px;
                .miniiSet
                    margin-bottom: 10px;
                    label
                        color: #2096E9;
                        font-weight: bold;
                        font-size: 12px;
                        font-size: 0.75rem;
                    .inputFull input[type=text], .inputFull textarea
                        width: 100%;
                        margin: 20px 0;
                    input.simpleStyle
                        border: 0px;
                        outline:none;
                        border-bottom: 1px solid #ddd;
                        background-color: #ffffff;
                    textarea.simpleStyle
                        border: 1px solid #ddd;
                        background-color: #ffffff;
                    textarea
                        resize: none;
                        height: 160px;
                .footerBar
                    margin-top: 20px;
                    .cmnBtn
                        vertical-align: top;
                        position: relative;
                        zoom: 1;
                        display: inline-block;
                        cursor: pointer;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        -ms-border-radius: 3px;
                        -o-border-radius: 3px;
                        border-radius: 3px;
                        -webkit-box-shadow: 0px 2px #cecece;
                        -moz-box-shadow: 0px 2px #cecece;
                        box-shadow: 0px 2px #cecece;
                        line-height: 26px;
                        min-height: 28px;
                        font-size: 14px;
                        padding-left: 16px;
                        padding-right: 16px;
                        min-width: 66px;
                        text-align: center;
                        color: #ffffff;
                        background-color: #2096E9;
                        border: 1px solid #3AA9C8;
                        &:disabled
                            border: 1px solid #DDD;
                            background-color: #F5F5F5;
                            color:#ACA899;
            .popup_msg_ok
                .popupContent
                    padding: 32px 36px;
                .iconMessage
                    position: relative;
                    height: 100%;
                    min-height: 337px;
                    .iconMessageWrap
                        position: relative;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        position: absolute;
                        .imgPart
                            margin-right: 20px;
                        .float_left
                            float: left;
                        .textPart
                            position: relative;
                            overflow: hidden;
                            margin: auto;
                            color: #42526d;
                            .title
                                color: #494949;
                                font-weight: bold;
                                font-size: 24px;
                                font-size: 1.5rem;
                                margin-top: 20px;
                            .bottomBorder
                                padding-bottom: 6px;
                                margin-bottom: 10px;
                                border-bottom: 1px solid #ddd;
                        .message_content
                            color: #8e8e8e;
                            font-size: 13px;
                            font-size: 0.8125rem;
                            line-height: 18px;
                            line-height: 1.125rem;
                            overflow: hidden;
                            position: relative;
@media screen and (max-width: 415px)
    .contentWrap
        width: 100%
        .gWrap
            flex-direction: column
            .gWrap1-3
                width: 95%
            .gWrap2-3
                width: 95%
                .contact_msg_form
                    margin: 0
