.position
    top: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    .svg-wrapper
        margin-top: 0;
        position: relative;
        width: 150px;
        height: 40px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px;
        svg
            #shape
                stroke-width: 6px;
                fill: transparent;
                stroke: #69696b;
                stroke-dasharray: 85 400;
                stroke-dashoffset: -220;
                transition: 1s all ease;