

// @import './styles/animate.min.css'
// @import './animate.styl';
.home
    padding: 0
    width: 100%
    max-width: 100%
    .hero
        padding: 0
        animation-duration:2s;
        -webkit-animation-duration:2s; /* Safari 和 Chrome */
        .action-button
            border: 1px solid #466CA1
            border-radius: 2rem
            color: #2c3e50
            background-color: transparent
            &:hover
                color: #fff
                background-color: #466CA1
    .features
        padding: 1.2rem 2rem;
        animation-duration:2s;
        -webkit-animation-duration:2s; /* Safari 和 Chrome */

        .feature
            a
                width: 300px;
                list-style: none;
                margin-right: 15px;
                li
                    font-size: 22px;
                    color: #FFF;
                    text-align: center;
                    img
                        float: left
                    span
                        line-height: 100px;
                .ios
                    background-color: #111827;
                .andr
                    background-color: #223655;
                .html5
                    background-color: #446BA3;
    .intro
        h2
            background: rgb(54,67,89);
            background: url(/icons/tvp_header_nocontent.png) center no-repeat;
            background: url(/icons/tvp_header_nocontent.png) center no-repeat;
            background: url(/icons/tvp_header_nocontent.png) center no-repeat;
            background-size: cover;
            color: white;
            text-align: center;
            width: 720px;
            height: 160px;
            &:after
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 75%;
        .cost
            filter: sepia(20%);
        li
            margin: 1rem 0;
            list-style: none;
            img
                width: 30px;
                height: auto;
            // &:before
            //     content: ''
            //     background-image: url(/svg/li_style.svg)