

// @import './styles/animate.min.css'
// @import './animate.styl';
.home
    padding: 0
    width: 100%
    max-width: 100%
    .hero
        padding: 0
        animation-duration:2s;
        -webkit-animation-duration:2s; /* Safari 和 Chrome */
        .action-button
            border: 1px solid #466CA1
            border-radius: 2rem
            color: #2c3e50
            background-color: transparent
            &:hover
                color: #fff
                background-color: #466CA1
    .features
        padding: 1.2rem 2rem;
        animation-duration:2s;
        -webkit-animation-duration:2s; /* Safari 和 Chrome */

        .feature
            a
                width: 300px;
                list-style: none;
                margin-right: 15px;
                li
                    font-size: 22px;
                    color: #FFF;
                    text-align: center;
                    img
                        float: left
                    span
                        line-height: 100px;
                .ios
                    background-color: #111827;
                .andr
                    background-color: #223655;
                .html5
                    background-color: #446BA3;
    .intro
        h2
            border: 1px solid #ddd;
            height: 100px;
            // background: gray;
            // background: url(/icons/tvp_header_nocontent.png) center no-repeat;
            // background: url(/icons/tvp_header_nocontent.png) center no-repeat;
            // background: url(/icons/tvp_header_nocontent.png) center no-repeat;
            // background-size: cover;
            // color: white;
            // text-align: center;
            // width: 720px;
            // height: 160px;
            &:after
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            &:before
                content: '\2726';
                margin: 0 1rem;
                color: #06B995;
        // .cost
        //     filter: sepia(20%);
        li
            list-style: none;
        >ul>li
            margin: 1rem 0;
            // img
            //     width: 30px;
            //     height: auto;
            &:before
                content: '\2611'
                margin: 0 1rem;
                color: #06B995;
        .assess-cost
            padding: 0 2rem;
            li
                margin: 1rem 0;
                h5
                    &:before
                        content: '\2657'
                        margin: 0 1rem;
                        color: #06B995;
@media screen and (max-width: 415px)
    .features
        padding: 0
        .feature
            padding: 0
    .intro
        h2
            font-size: 1.2rem
