.industry
    padding: 0 8rem;
    .clear
        clear: both;
        height: 0px;
        overflow: hidden;
    .video-contain
        padding: 2rem 8rem;
    // .industry-sidebar-mask
    //     position fixed
    //     z-index 9
    //     top 0
    //     left 0
    //     width 100vw
    //     height 100vh
    //     display none

.industry-sidebar
    font-size: 15px
    background-color: #fff
    width: $sidebarWidth
    position: fixed
    z-index: 10
    margin: 0
    top: $navbarHeight
    left: 0
    bottom: 0
    box-sizing: border-box
    border-right: 1px solid #eaecef;
    overflow-y: auto
    ul
        padding: 0
        margin: 0
        list-style-type: none
        li
            list-style-type: none
    a
        display: inline-block
    .industry-sidebar-links
        padding: 1.5rem 0
    a.industry-sidebar-link
        font-weight 400
        display inline-block
        color #2c3e50
        border-left 0.25rem solid transparent
        padding 0.35rem 1rem 0.35rem 1.25rem
        line-height 1.4
        width: 100%
        box-sizing: border-box
        &:hover
            color #3eaf7c
        &.active
            font-weight 600
            color #3eaf7c
            border-left-color #3eaf7c
        .industry-sidebargroup &
            padding-left 2rem
        .industry-sidebarsub-headers &
            padding-top 0.25rem
            padding-bottom 0.25rem
            border-left none
            &.active
                font-weight 500
    .industry-sidebar-group
        &:not(.first)
            margin-top: 1em
        .industry-sidebar-group
            padding-left: 0.5em
        &:not(.collapsable)
            .industry-sidebar-heading
                cursor: auto
                color: inherit
    .industry-sidebar-heading
        color: #999
        transition: color .15s ease
        cursor: pointer
        font-size: 1.1em
        font-weight: bold
        // text-transform uppercase
        padding: 0 1.5rem
        margin-top: 0
        margin-bottom: 0.5rem
        &.open, &:hover
            color: inherit
        .arrow
            position: relative
            top: -0.12em
            left: 0.5em
        &:.open .arrow
            top: -0.18em
    .industry-sidebar-group-items
        transition: height .1s ease-out
        overflow: hidden
        padding: 0 2rem