.industry
    padding: 0 8rem;
    .clear
        clear: both;
        height: 0px;
        overflow: hidden;
    .page_title
        width: 100%;
        text-align: center;
        height: auto;
        float: left;
        margin-bottom: 50px;
    .service_list
        display: flex;
        a
            width: 33%
            list-style: none;
            margin-right: 15px;
            .ios
                background-color: #6DD27B;
            .andr
                background-color: #7FCEEF;
            .html5
                background-color: #F36979;
    .video-contain
        padding: 2rem 8rem;