.whyUs
    .features
        padding: 1.2rem 0;
        margin-top: 2.5rem;
        .feature
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: stretch;
            justify-content: space-between;
            margin: 0 2rem 2rem 2rem
            h2
                border-bottom: none
            .index
                color: #06B995
        .icon
            flex-grow: 1;
            flex-basis: 30%;
            max-width: 30%;
