.whyUs
    .features
        padding: 1.2rem 0;
        margin-top: 2.5rem;
        .feature
            display: flex;
            margin: 2rem 8rem;
            // flex-grow: 1;
            .title
                width: 70%
                h2
                    border-bottom: none
                .index
                    color: #06B995
            .icon
                // flex-grow: 1;
                margin-left: 2rem
                width: 30%
                flex: 1
                img
                    border-radius: 50%
