.whyUs
    .features
        padding: 1.2rem 0;
        margin-top: 2.5rem;
        .feature
            display: flex;
            margin: 2rem 8rem;
            // flex-grow: 1;
            .title
                width: 70%
                h3
                    border-bottom: none
                    img
                        display: none
                .index
                    color: #06B995
            .icon
                // flex-grow: 1;
                margin-left: 2rem
                width: 30%
                flex: 1
                img
                    border-radius: 50%
@media screen and (max-width: 415px)
    .whyUs
        .features
            padding: 0;
            margin-top: 0;
            .feature
                margin: 0 0.2rem
                .title
                    width: 100%
                    h3>img
                        display: inline
                        width: 50px;
                        float: right;
                        // border-radius: 50%
                .icon
                    display: none