@import './components/styles/animate'
// disable the search box
.search-box
  display none

// disable outbound link icon
.icon.outbound
  display none
#app
  color: #4e6e8e;
.hidden
    display: none;
.center
    text-align: center;
input
    &:disabled
        border: 1px solid #DDD;
        background-color: #F5F5F5;
        color:#ACA899;
.error
    color: #F15433
    font-size: 0.75rem

.navbar
  .home-link
    margin-left: 125px;
    .site-name
      font-size: 2rem
  .links
    margin-right: 125px
.hangye-page-class
  .sidebar
    display: block
@media screen and (max-width: 415px)
  .navbar
    .home-link
      margin-left: 0;
h3
  color: #06b995
