@import './components/styles/animate'
// disable the search box
.search-box
  display none

// disable outbound link icon
.icon.outbound
  display none

.hidden
    display: none;
.center
    text-align: center;
input
    &:disabled
        border: 1px solid #DDD;
        background-color: #F5F5F5;
        color:#ACA899;
.error
    color: #F15433

.navbar
  .home-link
    margin-left: 125px;
    .site-name
      font-size: 2rem
  .links
    margin-right: 125px